.bannerInfo{
    color: #11386e;
    padding-left: 2vmin;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.bannerInfo h1{
    margin-bottom: 1vw;
}

.bannerInfo h2{
    margin-bottom: 2vw;
}

.bannerInfo strong{
    color: #E94E77;
}

.banner .expBtn{
    border-color: #11386e;
    background-color: #11386e;
    opacity: 0.8;
    color: white;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
}

.banner .expBtn:hover{
    border-color: white;
    background-color: white;
    opacity: 0.8;
    color: #11386e;
    width: 100%;
}

.banner .socialBtn{
    border-color: transparent;
    background-color: transparent;
    color: #11386e;
    width: 100%;
}

.banner .socialBtn:hover{
    border-color: white;
    background-color: white;
    opacity: 0.9;
    color: #11386e;
    width: 100%;
}