.footer{
    margin-top: 0 !important;
    padding-top: 4vmin;
    padding-right: 0 !important;
    padding-left: 16px !important;
}

.footer .MuiGrid-container{
    padding-top: 4vmin;
}

.footer img{
    margin-left: 0;
    height: 4vmax;
    width: auto;
}

.footer .MuiGrid-item{
    padding-top: 5px !important;
    padding-left: 0 !important;
    height: fit-content;
}

.footer a{
    color: black;
}

.footer .MuiTypography-body2{
    font-size: 1.5vmin;
    text-align: center;
    display: inline;
    margin-right: 8vmin;
    margin-left: 8vmin;
}

@media screen and (max-width: 1200px) {
    .footer .MuiTypography-body2{
        display: block;
        text-align: right;
        padding-right: 16px;
        margin: 0;
    }
}

.footer .MuiTypography-body1{
    text-align: center;
    font-size: 1.5vmin;
    font-style: italic;
    margin-top: 2vmin;
}