.aboutMe{
    background-color: #eef6ffe3;
    padding: 5vh;
}

.exp{
    padding: 5vh;
}

.proj{
    background-color: #eef6ffe3;
    padding: 5vh;
}

.contactMe{
    background-color: #11386e;
    padding: 5vh;
}