.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navContainer{
    top: 0;
    height: 6vmin;
}

.personal-logo{
    float: left;
}

.personal-logo img{
    height: 5vmin;
}

#navLink .navLinkContent{
    font-family: 'Comfortaa', cursive;
}

#navLink .navLinkTab{
    padding-right: 3vmin;
    text-align: center;
}

#navLink a{
    color: gray;
    text-decoration-line: none;
}

#navLink .navLinkTab:hover{
    color: #11386e;
    font-weight: bold;
}
#navLink a.active{
    color: #11386e;
    font-weight: bold;
}

.nav-transparent{
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}

.nav-white{
    background-color: white;
}

.navContainer .navLinkCollapse{
    background-color:white;
}